@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-img { 
    background: url(images/bg-texture.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-wrap {
    position: relative;
    margin: 0;
  }

  az-hero-img{
    display: absolute;
  }

  az-hero-img .img-wrap {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
  }


.graph-gradient{
    background: linear-gradient(180deg, #F7FAFF 0%, rgba(232, 240, 255, 0) 100%);
}

.gradient-bg-welcome{
    background: linear-gradient(270deg, #05445E 0%, #022534 100%);
}

.gradient-bg-light{
    background: linear-gradient(90.76deg, #FFFFFF 0%, #DFF6FF 144.63%);
}

.gradient-bg-darkBorder{
    border: 1px solid;
    border-radius: 8px;
    border-image-repeat: round;
    /* border-image-slice: 10; */
    border-image-source: linear-gradient(94.05deg, #FFFFFF -161.35%, rgba(255, 255, 255, 0) 99.97%);
    -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
}

.gradient-bg-dark{
    background: linear-gradient(94.24deg, #033042 -0.03%, #005C83 99.97%),
    linear-gradient(94.05deg, #FFFFFF -161.35%, rgba(255, 255, 255, 0) 99.97%);
}

.gradient-bg-white{
    border-image-source: linear-gradient(94.05deg, #FFFFFF -161.35%, rgba(255, 255, 255, 0) 99.97%);
}

.gradient-big-bg-light{
    background: linear-gradient(90.76deg, #FFFFFF 0%, #DFF6FF 144.63%);
}



.gradient-bg-checkbox{
    border: 1px solid;
    border-radius: 8px;
    background: linear-gradient(180deg, #CFF1FF 0%, #2D5666 100%);
    border-image-repeat: round;
    border-image-slice: 10;
    border-image-source: linear-gradient(180deg, #CFF1FF 0%, #2D5666 100%);
    -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
}

.gradient-bg-course{
    background: linear-gradient(180deg, #F7FAFF 0%, rgba(232, 240, 255, 0) 100%);
}


.bg-graph{
    position: relative;
    top: 0;
    left: 0;
    background-image: url('./images/bg-graph.png');
}

.gradient-earn10X{
    background: linear-gradient(180deg, #3F6FC1 0%, #05445E 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-price{
    letter-spacing: -0.03em;
    
    background: linear-gradient(90deg, #3F6FC1 0%, #05445E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.letter-spacing{
    letter-spacing: -3%;
}